.preloader__container {
  margin: 0;
  width: 360px;
  height: 450px;
  background-color: #fefefe;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 10px 10px;
}

.preloader__container_full-screen {
  width: 100%;
  height: 100vh;
  margin-bottom: 25px;
  background-color: #fefefe;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preloader__circle {
  display: block;
  width: 70px;
  height: 70px;
  border: 4px solid rgb(68, 49, 49);
  border-bottom-color: #8d8181;
  border-radius: 50%;
  animation: spin 0.75s infinite linear;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1439px) {
  .preloader__container {
    width: 224px;
    height: 390px;
  }
}
@media screen and (max-width: 767px) {
  .preloader__container {
    width: 288px;
    height: 400px;
  }
}
