.header {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: rgba(196, 196, 196, 0.1) 2px solid;
  background-color: rgba(0, 0, 0, 0.38);
}

.header__logo {
  margin-bottom: 26px;
  width: 100px;
  /* color: #fff; */
  margin-top: 15px;
  margin-right: 56px;
  background-image: url(../../images/the_met_red.png);
}

.header__title {
  margin-bottom: 26px;
  margin-right: 56px;
  margin-left: 56px;
  text-decoration: none;
  width: 200 px;
  font-family: "Noto";
  font-weight: 500;
  font-size: 30px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.85);
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px black;
}
