.department-results {
  background-color: rgba(0, 0, 0, 0.4);
  margin-top: 0[x];
  max-width: 1440px;
}

.department-results__title {
  font-family: "Noto";
  font-style: normal;
  font-size: 60px;
  line-height: 64px;
  color: rgba(255, 255, 255, 0.85);
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 1), 0px -15px 45px black;
  width: 1000px;
  margin-left: 220px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 30px;
  max-width: 100%;
  height: auto;
  text-decoration: none;
}

.department-results__container {
  display: grid;
  grid-template-columns: 360px 360px 360px;
  justify-content: center;
  column-gap: 16px;
  row-gap: 16px;
  padding-bottom: 16px;
}

@media screen and (max-width: 1439px) {
  .department-results__title {
    font-size: 40px;
    line-height: 46px;
    width: 452px;
    padding-top: 28px;
    margin-right: auto;
    margin-left: auto;
  }

  .department-results__container {
    margin-top: 40px;
    grid-template-columns: 224px 224px 224px;
    column-gap: 8px;
    row-gap: 8px;
  }
}

@media screen and (max-width: 767px) {
  .department-results__title {
    font-size: 30px;
    line-height: 34px;
    width: 452px;
    padding-top: 16px;
    margin-right: auto;
    margin-left: auto;
  }

  .department-results__container {
    margin-top: 32px;
    grid-template-columns: 288px;
    row-gap: 10px;
  }
}
